---
import type { GetStaticPaths } from "astro"

import { PokemonCard, PokemonPageHeader } from "@/components"
import { LayoutBase } from "@/layouts"
import type { IPokemonListResponse } from "@/types"
import { getIdByUrl } from "@/utils"

export const getStaticPaths = (async () => {
  const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151')
  const { results } = await response.json() as IPokemonListResponse
  return results.map(pokemon => ({ params: { name: pokemon.name }, props: pokemon }))
})

const { name } = Astro.params
const { url } = Astro.props

const id = getIdByUrl(url)
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`

const title = `Pokemon Static | #${id} ${name}`
const description = `Información sobre el pokemon ${name}`
const image = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
---

<LayoutBase title={title} description={description} image={image}>
  <main class="container mx-auto p-4">
    <PokemonPageHeader id={id} name={name} audioSrc={audioSrc} backToUrl="/pokemons/1" />
    <PokemonCard name={name} url={url} isBig />
  </main>
</LayoutBase>

