---
import { PokemonCard, PokemonPageHeader } from '@/components'
import { LayoutBase } from '@/layouts'
import { getPokemons } from '@/services'
import { getIdByUrl } from '@/utils'

export const getStaticPaths = async () => {
  const pokemons = await getPokemons()
  return pokemons.map(pokemon => {
    const idByUrl = getIdByUrl(pokemon.url)
    return { params: { id: idByUrl }, props: pokemon }
  })
}

const { id } = Astro.params
const { url, name } = Astro.props
const title = `Pokemon Static | ${name}`

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---

<LayoutBase title={title}>
  <main class="container mx-auto p-4">
    <PokemonPageHeader id={id} name={name} audioSrc={audioSrc} backToUrl="/" />
    <PokemonCard name={name} url={url} isBig />
  </main>
</LayoutBase>
